body {
  margin: 0;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  background: url(assets/image/background.webp);
  background-size: cover;
  background-position: center;
  overflow: hidden;
  touch-action: manipulation; /* ダブルタップズーム無効化 */
}

.wrapper {
  position: relative;
  width: 100dvw;
  height: 100dvh;
  overflow: hidden;
  display: grid;
  place-items: center;
}

canvas {
  border: 1px solid white;
  background: rgba(0, 0, 0, 0.7);
}

/* 800px 以上の画面では非表示 */
@media (min-width: 800px) {
  #toggleFavBtn {
    display: none;
  }
}

@media (max-width: 800px) {
  .favWrapper {
    position: absolute;
    top: 10px;
    right: 15px;
  }

  #toggleFavBtn {
    font-size: 24px;
    cursor: pointer;
    width: fit-content;
    margin-left: auto;
  }

  #favContainer {
    transform: translateX(200px);
    transition: transform 0.3s ease-in-out;
    z-index: 1000;
  }

  #favContainer.show {
    transform: translateX(0);
  }

  p {
    margin: 0;
  }
}
